<%= form_with(model: materiel) do |form| %>
  <% if materiel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materiel.errors.count, "error") %> prohibited this materiel from being saved:</h2>

      <ul>
        <% materiel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 700px ; margin: 0px auto">
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name ,  class:"form-control"%>
  </div>

  <div>
    <%= form.label :type_mat, style: "display: block" %>
    <%= form.text_field :type_mat ,  class:"form-control"%>
  </div>

  <div style="display:flex; align-items:center" class="mt-4">
    <%= form.label :is_empruntable, style: "display: block" %>
    <%= form.check_box :is_empruntable ,  class:"form-control"%>
  </div>



  <div>
    <%= form.submit class:"btn btn-success mt-4"%>
  </div>
  </div>
<% end %>
